@import "~bootstrap/scss/bootstrap.scss";

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

.button-close {
  cursor: pointer;
  position: relative;
    left: 50px;
 
}

body {

    background-color: #e8ecef;

    
}

.card {
width: 500px;
height: auto;
  
  border: 5px solid gray;
  margin: auto;
  font-family: 'Courier New', Courier, monospace;

}

h1 {

font-family: 'Courier New', Courier, monospace;
font-weight: bold;
font-size: 50px;
text-align: center;
padding-top: 20px;
padding-bottom: 25px;

}